@import "../../assets/sass/main.scss";
@import "../../assets/sass/lib/vars.scss";
@import "../Category/Category.scss";

//Clases de estilo que aplican al archivo Cases.jsx

.section_header {
    height: $height_column_header;
    background-color: $color_column_header_left;
    .section_title {
        margin-bottom: 0.3125em;
        margin-top: 0.5em;
        color: $color_white;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.25em;
    }
}
.section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E7E7E7;
    .content_cases {
        margin: 0.25em 0.25em 0.125em 0.25em;
    }
}