@import "../../assets/sass/main.scss";
@import "../../assets/sass/lib/vars.scss";
@import "../Category/Category.scss";

//Clases de estilo que aplican al archivo Chats.jsx

.chats_header {
    height: $height_column_header;
    background-color: $color_primary_light;
    .chats_title {
        margin-bottom: 0.3125em;
        margin-top: 0.5em;
        color: $color_white;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.25em;
    }
}
.chats_content {
    display: flex;
    flex-direction: column;
    background-color: $color_background;
    padding: 0.25em 0.25em 0.125em 0.25em;
    font-size: 0.875em;
    height: 100%;;
}