@import "../../assets/sass/main.scss";
@import "../../assets/sass/lib/vars.scss";

//Category
.category {
    .category_box{
        width: 9.5em;
        height: 2.125em;
        background-color: $color_white;
        border-radius: 0.125em;
        margin-right: 0.5em;
        .category_dots {
            width: 0.5625em;
            height: 0.625em;
        }
        .red {
            color: $color_category_red;
        }
        .oranje {
            color: $color_category_oranje;
        }
        .green {
            color: $color_category_green;
        }
        .blue {
            color: $color_category_blue;
        }
        .purple {
            color: $color_category_purple;
        }
        .grey {
            color: $color_category_grey;
        }
    }
    
    .add_category {
        width: 1,625em;
        height: 1.75em;
        border-radius: 0.1875em;
        background-color: $color_primary_bold;
        border: none;
        .add {
            color: $color_white;
            
        }
    }
}

.category_dots {
    width: 0.5625em;
    height: 0.625em;
}
.red {
    color: $color_category_red;
}
.oranje {
    color: $color_category_oranje;
}
.green {
    color: $color_category_green;
}
.blue {
    color: $color_category_blue;
}
.purple {
    color: $color_category_purple;
}
.grey {
    color: $color_category_grey;
}