@import "../../../assets/sass/main.scss";
@import "../../../assets/sass/lib/vars.scss";
@import "../../Category/Category.scss";

.chat_info {
    background-color: $color_white;
    margin-bottom: 0.125em;
    width: 100%;
    .chat_title {
        text-align: start;
        margin-right: 80px;
    }
    .recived {
        font-weight: 700;
    }
    .button {
        border: none;
        background-color: transparent;
        .muted_true {
            color: $color_primary_bold;
        }
        .muted_false {
            color: #CDCDCD;
        }
        .thumbtack {
            transform: rotate(45deg);
        }
        .icon_pinned {
            color: $color_primary_bold;
        }
        .icon_no_pinned {
            color: #CDCDCD;
        }
    }
    .category_dots {
        width: 9px;
        height: 10px;
        margin-left: 2px;
    }
    .red {
        color: $color_category_red;
    }
    .oranje {
        color: $color_category_oranje;
    }
    .green {
        color: $color_category_green;
    }
    .blue {
        color: $color_category_blue;
    }
    .purple {
        color: $color_category_purple;
    }
    .grey {
        color: $color_category_grey;
    }
    .chat_date {
        margin-left: 10px;
    }
    
    .chat_content_left{
       display: flex;
        .contact_image {
            margin-left: -0.5em;
        }:first-child {
            margin-left: 0;
        }
    }
}