@import "../../../assets/sass/main.scss";
@import "../../../assets/sass/lib/vars.scss";
@import "../../Category/Category.scss";

.chat_info {
    background-color: $color_white;
    margin-bottom: 0.125rem;
    width: 100%;
    height: 100%;
    .chat_header {
        margin: 0.5rem 0.75rem 0.75rem 0.75rem;
        .chat_title {
            text-align: start;
            color: $color_black;
            min-width: 12.5rem;
            margin-right: 55px;
            .recived {
                font-weight: 700;
            }
        }
        .muted_true_open {
            color: $color_white;
        }
        .muted_true {
            color: $color_primary_bold;
        }
        .muted_false {
            color: #CDCDCD;
        }
        .thumbtack {
            transform: rotate(45deg);
        }
        .icon_open {
            color: $color_white;
        }
        .icon_pinned {
            color: $color_primary_bold;
        }
        .icon_no_pinned {
            color: #CDCDCD;
        }
    }
    .chat_content {
        margin: 0 0.75rem 0.5rem 0.75rem;
        .chat_content_left{
            display: flex;
             .contact_image {
                 margin-left: -0.5em;
             }:first-child {
                 margin-left: 0;
             }
        }
        .chat_content_right {
            .category_dots {
                width: 0.5625rem;
                height: 0.625rem;
                margin-left: 0.125rem;
            }
            .chat_date {
                margin-left: 0.75rem;
                color: #888888;
                font-size: 0.75rem;
            }
        }
    }
}
.open {
    background-color: $color_primary_bold;
    color: $color_white;
    .chat_title p {
        color:  $color_white;
    }
    .chat_content {
        .chat_date p{
        color: $color_white;
        }
    }
    
}