@import "../../assets/sass/main.scss";
@import "../../assets/sass/lib/vars.scss";

li {
    list-style: none;
}

//Header left

.header_left {
    margin: 0.75em 0 0.75em 1em;
    font-size: 0.875em;
}

//Header Right

.header_right {
    margin: 0.71875em 1em 0.71875em 0;
    font-size: 0.875em;
}