@import "../assets/sass/main.scss";
@import "../assets/sass/lib/vars.scss";
@import "./Category/Category.scss";

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    // grid-template-rows: 2fr 1fr;
    grid-template-areas: "content-left content-mid content-right";
}

//Content left
.content_left {
    grid-area: content-left;
    .section_header {
        height: $height_column_header;
        background-color: $color_column_header_left;
        .section_title {
            margin-bottom: 5px;
            color: $color_white;
            font-weight: 700;
            font-size: 1em;
        }
    }
    .section_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color_background;
        .content_cases {
            margin: 4px 4px 2px 4px;
            .case {
                background-color: $color_white;
                margin-bottom: 2px;
                .case_left {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    margin: 0.5em 0.75em;
                    
                    p {
                        margin-bottom: 0;
                        margin-left: 0.75em;
                    }
                }
                .case_right {
                    margin-top: 0.5em;
                    margin-bottom: 0.6875em;
                    margin-right: 0.75em;
                    margin-left: 1.875em;
                    .button {
                        border: none;
                        background-color: transparent;
                        .muted_true {
                            color: $color_primary_bold;
                        }
                        .muted_false {
                            color: #CDCDCD;
                        }
                        .thumbtack {
                            transform: rotate(45deg);
                        }
                        .icon_pinned {
                            color: $color_primary_bold;
                        }
                        .icon_no_pinned {
                            color: #CDCDCD;
                        }
                        .slash {
                            position: relative;
                            right: 18px;
                        }
                    }
                }
            }
        }
    }
    .chats_header {
        height: $height_column_header_little;
        background-color: $color_column_header_left;
        .chats_title {
            margin-bottom: 0;
            color: $color_white;
            font-weight: 700;
            font-size: 1em;
        }
        .add_chat {
            margin-left: 0.5em;
            width: 1.625em;
            height: 1.75em;
            border-radius: 0.1875em;
            background-color: $color_primary_bold;
            border: none;
            .add {
                color: $color_white;
            }
        }
    }
    .chats_contacts {
        background-color: $color_background;
        display: flex;
        flex-direction: column;
        .contacts_content {
            margin: 4px 4px 2px 4px;
            .contact {
                background-color: $color_white;
                margin-bottom: 2px;
                padding: 4px;
                .contact_right {
                    margin-left: 0.75em;
                    .contact_name {
                        margin-left: 0.75em;
                        margin-bottom: 0;
                    }
                }
                .contact_left div {
                    display: flex;
                    align-items: center;
                    margin-right: 0.75em;
                }
            }
        }
    }
}


//Content mid
.content_right {
    grid-area: content-mid;
}

//Content right
.messages {
    grid-area: content-right;
}