@import "../assets/sass/main.scss";
@import "../assets/sass/lib/vars.scss";

.content {
    height: $height_content;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 200px;
    grid-template-areas: "content-left content-mid content-right"
                          "content-left-low content-mid-low content-right";
    p, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

//Content left
.content_left {
    grid-area: content-left;
    .content_left_low {
        grid-area: content-left-low;
    }
}


//Content mid
.content_right {
    grid-area: content-mid;
}
//Content right
.messages {
    grid-area: content-right;
}